@model List<SubSystem>

@foreach (var subsystem in Model)
{
    <header class="row narrow">
        <ol class="breadcrumb breadcrumb-zsebi">
            <li>@subsystem.SystemName</li>
            @if (!String.IsNullOrEmpty(subsystem.Name))
            {
                <li>@subsystem.Name</li>
            }
        </ol>
    </header>
    <article class="row narrow">
        @for (var index = 0; index < subsystem.Members.Count; index++)
        {
            var member = subsystem.Members[index];
            if (index > 0)
            {
                if (index % 6 == 0)
                {
                    <div class="clearfix visible-lg-block"></div>
                }
                if (index % 4 == 0)
                {
                    <div class="clearfix visible-md-block"></div>
                }
                if (index % 3 == 0)
                {
                    <div class="clearfix visible-sm-block"></div>
                }
                if (index % 2 == 0)
                {
                    <div class="clearfix visible-xs-block"></div>
                }
            }
            <figure class="col-xs-6 col-sm-4 col-md-3 col-lg-2 smallMember">
                <img class="img-circle" src="@member.Image">
                <figcaption>
                    @member.Name
                    <p>@member.Post</p>
                </figcaption>
            </figure>
        }
    </article>

}