@model TeamViewModel

<section class="teamSection">
    <div id="team" class="anchor"></div>
    <header>
        <h1 hidden>Team section</h1>
    </header>
    <article class="clearfix team col-m-100 col-p-60">
        <header>
            <h2 hidden> Team Members</h2>
            <figure>
                <img style="width: 20%;" src="~/images/smog_logo_white_csapat.png">
                <img style="width: 73%; position: relative; left: 5%;" src="~/images/dots_csapat.png">
            </figure>
        </header>

        @foreach (var subsystem in Model.SubSystems)
        {

            <h2 class="subsystemHeader">
                @subsystem.SystemName
                @if (!String.IsNullOrEmpty(subsystem.Name))
                {
                    <img class="commonArrow" src='~/images/arrow_news_right.png' />

                    @subsystem.Name
                }
            </h2>

            foreach (var member in subsystem.Members)
            {
                <figure class="smallMember col-m-25 col-p-13">
                    <img class="rounded" src="@member.Image">
                    <figcaption>
                        @member.Name
                        <p>@member.Post</p>
                    </figcaption>
                </figure>
            }

        }
    </article>
</section>