@model MainViewModel

@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("_MainMenu")
@Html.Partial("_SatelliteMenu")

<section class="row newsSection" id="news_container">
    @await Component.InvokeAsync("News")
</section>

@Html.Partial("_Team", Model.Team)
@Html.Partial("_Sponsors")
@Html.Partial("_Amateur")
@Html.Partial("_ContactMenu")
