@model MainViewModel

@{
    ViewData["Title"] = "Home Page";
}

@Html.Partial("_MainMenu")
@Html.Partial("_SatelliteMenu")

<div id="news_container">
    @await Component.InvokeAsync("News")
</div>

@Html.Partial("_Team", Model.Team)
@Html.Partial("_Sponsors")
@Html.Partial("_Amateur")
@Html.Partial("_ContactMenu")
