@using Zsebi2.DataLayer
@model IEnumerable<Zsebi2.DataLayer.Article>

<div id="news" class="anchor"></div>
<article class="news col-sm-push-1 col-sm-10 col-lg-push-2 col-lg-8">
    <div class="zsebi-panel-wrapper">
        <article class="panel panel-zsebi">
            <header class="clearfix panel-heading">
                <h2>
                    HÍREK
                </h2>
            </header>
            <div class="panel-body">
                @if ((bool) ViewData["hasPreviousPage"])
                {
                    <div id="news-prev-container">
                        <a asp-controller="News" asp-action="Index" asp-route-page="@ViewData["previousPage"]">
                            <span class="glyphicon glyphicon-triangle-left"></span>
                        </a>
                    </div>
                }
                <div class="row news-row">
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 col-sm-12" id="news-@(item.ID)">
                            <figure>
                                <img class="borderimg1" style="max-height: 100px; width: auto" src="@item.ThumbnailFileName">
                            </figure>
                            <header>
                                <a asp-controller="Article" asp-action="Details" asp-route-id="@item.GetUrl()">
                                    <h3>@item.Title</h3>
                                </a>
                            </header>
                            <p>
                                @Html.Raw(item.Excerpt)
                            </p>
                            <div class="col-xs-12 social">
                                <a href="http://www.facebook.com"><img src="~/images/icon_facebook.png"></a>
                                <a href="http://www.twitter.com"><img src="~/images/icon_twitter.png"></a>
                                <a href="http://www.plus.google.com"><img src="~/images/icon_googleplus.png"></a>
                            </div>
                        </div>
                    }
                </div>
                @if ((bool) ViewData["hasNextPage"])
                {
                    <div id="news-next-container">
                        <a asp-controller="News" asp-action="Index" asp-route-page="@ViewData["nextPage"]">
                            <span class="glyphicon glyphicon-triangle-right"></span>
                        </a>
                    </div>
                }
            </div>
        </article>
    </div>
</article>


