@model IEnumerable<Zsebi2.Models.Article>

<script type="text/javascript">
    function attachAjaxCalls()
    {
       $('#news-next-container a').on('click', function(e){
           e.preventDefault();
           $('#news_container')
           .load($(this).attr('href'));
       });

       $('#news-prev-container a').on('click', function(e){
           e.preventDefault();
           $('#news_container')
           .load($(this).attr('href'));
       });

    }

    $(function (){attachAjaxCalls(); })

</script>

<div id="news" class="anchor"></div>
<section class="newsSection">
    <header>
        <h1 hidden>
            News Secton
        </h1>
    </header>
    <article class="news col-m-100 col-p-60">
        <header>
            <h2 style="position: relative; left: 7%; width: 90%;">
                HÍREK
            </h2>
        </header>

        @if ((bool) ViewData["hasPreviousPage"])
        {
            <div id="news-prev-container" style="display: inline-block; position: absolute; top: 50%; left: 2%;">
                <a href='@Url.Action("Index", "News", new {page = ViewData["previousPage"]})'>
                    <img src='~/images/arrow_news_left.png'/>
                </a>
            </div>
        }

        @foreach (var item in Model)
        {
            <div class="smallNews">
                <figure>
                    <img class="borderimg1" style="max-height: 100px; width: auto" src="@item.ThumbnailFileName">
                </figure>
                <header>

                    @*<a href="@item.MoreInfoUrl">*@
                    @*<a href="@Url.Action("Details", "News", new { ID = item.ID} )">*@
                    <a href="@Url.Action("Details", "Article", new {ID = item.ID})">
                        <h3>@item.Title</h3>
                    </a>
                </header>
                <p>
                    @Html.Raw(item.Excerpt)
                </p>
                <div>
                    <a href="http://www.facebook.com"><img src="~/images/icon_facebook.png"></a>
                    <a href="http://www.twitter.com"><img src="~/images/icon_twitter.png"></a>
                    <a href="http://www.plus.google.com"><img src="~/images/icon_googleplus.png"></a>
                </div>
            </div>
        }

        @if ((bool) ViewData["hasNextPage"])
        {
            <div id="news-next-container" style="display: inline-block; position: absolute; top: 50%; right: 2%;">
                <a href='@Url.Action("Index", "News", new {page = ViewData["nextPage"]})'>
                    <img src='~/images/arrow_news_right.png'/>
                </a>
            </div>
        }
    </article>
</section>


