@using Zsebi2.DataLayer
@model PaginatedList<ArticleModel>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Articles</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Thumbnail
            </th>
            <th>
                Title
            </th>
            <th>
                PublishDate
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Excerpt)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ThumbnailFileName" height="100" title="@item.ThumbnailFileName" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Excerpt)*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-controller="Article" asp-route-id="@item.ID">View</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a aria-label="First" asp-action="Index" asp-route-page="1" asp-route-size="@Model.PageSize">
                    First
                </a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li><a asp-action="Index" asp-route-page="@i" asp-route-size="@Model.PageSize">@i</a></li>
            }
            <li>
                <a aria-label="Last" asp-action="Index" asp-route-page="@(Model.TotalPages)" asp-route-size="@Model.PageSize">
                    Last
                </a>
            </li>
        </ul>
    </nav>
    </tbody>
</table>
