@model IEnumerable<Zsebi2.Models.Article>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Articles</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Thumbnail
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.Excerpt)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ThumbnailFileName" height="100" title="@item.ThumbnailFileName" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Excerpt)*@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-controller="Article" asp-route-id="@item.ID">View</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
