@using Zsebi2.DataLayer
@model Zsebi2.DataLayer.Article

@{
    ViewData["Title"] = "DetailsView";
}
<section class="newsSection">
    <header>
        <h1 hidden>
            News Secton
        </h1>
    </header>
    <article class="news col-m-100 col-p-60">
        <header>
            <h2 style="position: relative; left: 7%; width: 90%;">
                HÍREK
                <img class="commonArrow" src="~/images/arrow_news_right.png" />
                <span>@Model.Title</span>
                <div class="previous ib">
                    @if ((bool)ViewData["hasPrevPost"])
                    {
                        <a href='@Url.Action("Details", "News", new { id = ViewData["prevPostId"] })'><img src='~/images/arrow_news_left.png' /></a>
                    }

                    <span style="font-size: 15px;">
                        @ViewData["currentPostPosition"] / @ViewData["postsCount"]
                    </span>

                    @if ((bool)ViewData["hasNextPost"])
                    {
                        <a href='@Url.Action("Details", "News", new { id = ViewData["nextPostId"] })'><img src='~/images/arrow_news_right.png' /></a>
                    }

                    <a class="headerLink" href="@Url.Action("Index","Home")#news">VISSZA</a>

                </div>
            </h2>

        </header>
        <div class="bigNews">
            <figure>
                <img class="borderimg1" style="max-height:300px;width:auto" src="~/images/articles/@Model.ThumbnailFileName.Replace("_little", "")">
            </figure>
            <header>
                <h3>@Model.Title</h3>
            </header>
            <div class="socialsLine">
                <a href="http://www.facebook.com"><img src="~/images/icon_facebook.png"></a>
                <a href="http://www.twitter.com"><img src="~/images/icon_twitter.png"></a>
                <a href="http://www.plus.google.com"><img src="~/images/icon_googleplus.png"></a>
                @Model.PublishDate.ToString("yyyy-MM-dd")
            </div>
            <p>
                @Html.Raw(Model.HtmlBody)
            </p>
            <a class="headerLink" href="@Model.MoreInfoUrl" onclick="window.open(this.href); return false">MORE...</a>
        </div>

    </article>
</section>
